{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        {% include 'blog/includes/post_card.html' %}
                        {% if object.view_count %}
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <p>Количество просмотров: {{ object.views_counter }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}