{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static '/css/register.css' %}">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <form class="p-3 mt-3" method="post">
        {% csrf_token %}
        <h1>Регистрация</h1>
        <div class="form-field d-flex align-items-center">
            <span class="fa fa-user-circle" aria-hidden="true"></span>
            <input class="text" type="text" name="username" placeholder="Имя" required="">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-envelope"></span>
            <input class="text email" type="email" name="email" placeholder="Почта" required="">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input class="text" type="password" name="password1" placeholder="Пароль" required="">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input class="text w3lpass" type="password" name="password2" placeholder="Подтвердите пароль" required="">
        </div>

        <div class="wthree-text">
            <div class="clear"></div>
        </div>
        {{ form.errors }}
        <input class="btn mt-3" type="submit" value="Регистрация">
    </form>
    <p>Уже есть аккаунт? <a href="/users/login/"> Войдите сейчас!</a></p>
</div>
</body>
</html>